/*--------------------------------------------------------------
# Css variables
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  overflow-x: hidden !important;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.header-annotation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 13px 60px;
  background-color: #ff5821;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #80808042;
}

.header-annotation .social-network {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 23px;
}

.header-annotation .social-network a {
  text-decoration: none;
  color: white;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.header-annotation .social-network a:nth-child(1):hover {
  color: orangered;
  -webkit-box-shadow: 0px 1px 3px 4px rgba(0, 0, 0, 0.283);
          box-shadow: 0px 1px 3px 4px rgba(0, 0, 0, 0.283);
}

.header-annotation .social-network a:nth-child(2):hover {
  color: blue;
}

.header-annotation .social-network a:nth-child(3):hover {
  color: #068ff8;
}

.header-annotation .social-network a:nth-child(4):hover {
  color: red;
}

.header-annotation .social-network span {
  cursor: pointer;
}

.header-annotation .phone-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 37px;
}

.header-annotation .phone-number a {
  text-decoration: none;
  color: white;
}

.header-annotation .phone-number span {
  font-size: 14px;
  display: inline-block;
  margin-left: 7px;
}

/*--------------------------------------------------------------
# Responsive Properties
--------------------------------------------------------------*/
/**
* Pad View 
*/
@media screen and (max-width: 980px) {
  .header-annotation {
    display: none;
  }
  #Search-Link span{
    display: none !important;
  }
}

/*--------------------------------------------------------------
# Responsive Properties
--------------------------------------------------------------*/
/**
* Mobile View 
*/
@media screen and (max-width: 540px) {
  #Search-Link{
    display: none !important;
  }
}


/*--------------------------------------------------------------
# Slider
--------------------------------------------------------------*/
.Container-Slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
}

.Container-Slider .Slider {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.Container-Slider .Slider .Slider-Banners {
  position: relative;
  height: 100vh;
}

.Container-Slider .Slider .Slider-Banners .Banner {
  height: 100vh;
}

.Container-Slider .Slider .Slider-Banners .Banner .annotation {
  position: absolute;
  bottom: 100px;
  left: 100px;
}

.Container-Slider .Slider .Slider-Banners .Banner:nth-child(1) {
  background: radial-gradient(circle, transparent , rgb(21 21 21 / 65%)), url('../images/1.jpg') center/cover;
}

.Container-Slider .Slider .Slider-Banners .Banner:nth-child(2) {
  background: radial-gradient(circle, transparent , rgb(21 21 21 / 65%)), url("../images/2.jpg") center/cover;
}

.Container-Slider .Slider .Slider-Banners .Banner:nth-child(3) {
  background: radial-gradient(circle, transparent , rgb(21 21 21 / 65%)), url("../images/3.jpg") center/cover;
}

.Container-Slider .Slider .Slider-Banners .Banner:nth-child(4) {
  background: radial-gradient(circle, transparent , rgb(21 21 21 / 65%)), url("../images/4.jpg") center/cover;
}

.Container-Slider .Slider .Slider-Banners .Banner:nth-child(5) {
  background: radial-gradient(circle, transparent , rgb(21 21 21 / 65%)), url("../images/5.jpg") center/cover;
}

.Container-Slider .Slider .Slider-Banners .Banner:nth-child(6) {
  background: radial-gradient(circle, transparent , rgb(21 21 21 / 65%)), url("../images/6.jpg") center/cover;
}

.Container-Slider .Slider .Slider-Banners .Banner:nth-child(7) {
  background: radial-gradient(circle, transparent , rgb(21 21 21 / 65%)), url("../images/7.jpg") center/cover;
}

/*--------------------------------------------------------------
# Responsive Properties
--------------------------------------------------------------*/
/**
* Pad View 
*/
/*--------------------------------------------------------------
# Responsive Properties
--------------------------------------------------------------*/
/**
* Mobile View 
*/

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

.Container{
  width:100vw;
  height:auto;
  padding:3% 7%;
}

/*# sourceMappingURL=style23.css.map */